 {{#Posts}}
 {{#Items}}
 <article id="{{Id}}">
	<div class="row">
        <div class="span11">
            <p>
              {{Body}}
            </p>

            <footer>
              posted by <a href="/users/12345">Jack Lawson</a> on
              <time datetime="2012-03-17T23:26:31-04:00" title="2012-03-17T23:26:31-04:00">March 3 11:26</time>.
            </footer>
        </div>
    </div>
 </article>
 {{/Items}}
{{/Posts}}