 {{#Posts}}
 {{#Items}}
 <article id="{{Id}}">
	<div class="row">
        <div class="span11">
            <p>
              {{Body}}
            </p>

            <footer>
              posted by <a href="/members/{{PostedBy}}">{{PostedByName}}</a> on
              <time datetime="{{{{FormattedPostedOn}}}}" title="{{{{FormattedPostedOn}}}}">{{ReadablePostedOn}}</time>.
            </footer>
        </div>
    </div>
 </article>
 {{/Items}}
{{/Posts}}