{{> header}}

    <div id="main" role="main">
      <div class="row">
        <div class="twelvecol">
          <a href="/Quotes/Add/">Add Quote</a>          
        </div>
      </div>
    </div>

{{> footer}}



