<ul class="buttonrow">
  <li>
    <a href="http://auth.qotr.net/Members/Login/?_method=POST&provider=Facebook" class="btn btn-large btn-inverse oauth">
      <span class="icon-facebook"></span> <span class="btn-text">Facebook</span>
    </a>
  </li>
  <li>
    <a href="http://auth.qotr.net/Members/Login/?_method=POST&provider=Google" class="btn btn-large btn-inverse oauth">
      <span class="icon-google"></span> <span class="btn-text">Google</span>
    </a>
  </li>
  <li>
    <a href="/Members/Login/?_method=POST&provider=Twitter" class="btn btn-large btn-inverse oauth">
      <span class="icon-twitter"></span> <span class="btn-text">Twitter</span>
    </a>
  </li>
</ul>
