{{> header}}
    <div id="main" role="main">
      <div class="row">
        <section class="span8">
          <h1>Member page for {{MemberUserName}}</h1>

          {{#IsMe}}
            <p><a href="/Members/Settings/" class="action">Account Settings</a></p>
          {{/IsMe}}

          {{#Posts}}
            {{#Items}}
              {{>viewPosts}}
            {{/Items}}
          {{/Posts}}
          
          <p>
            <a href="/Quotes/List/?order=score&keywords={{ MemberUserName }}" class="action">View More by {{ MemberUserName }}</a>
          </p>
        </section>
      </div>
    </div>
{{> footer}}

