 {{#Topics}}
 {{#Items}}
 <article id="{{Id}}">
	<div class="row">
        <div class="hidden-phone">
            <div class="span1">
              <div><span class="icon-eye-open"></span> {{Views}}</div>
              <div><span class="icon-comment"></span> {{PostCount}}</div>

              <div class="btn-group">
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="/Topics/{{Id}}"><span class="icon-comment"></span> View Topic</a></li>
				  {{#Post}}
					<li><a href="/members/{{PostedBy}}"><span class="icon-user"></span> {{PostedByName}}'s Profile</a></li>
				  {{/Post}}
                  <li><a href="#"><span class="icon-cog"></span> Edit Topic</a></li>
                </ul>
              </div>
            </div>
        </div>

        <div class="span11">
            <h1><a href="/Topics/{{Id}}">{{Name}}</a></h1>
            <p>
             {{PostBeginning}}
            </p>
			{{#Post}}
            <footer>
              posted by <a href="/members/{{PostedBy}}">{{PostedByName}}</a> on
              <time datetime="{{{{FormattedPostedOn}}}}" title="{{{{FormattedPostedOn}}}}">{{ReadablePostedOn}}</time>.
            </footer>
			{{/Post}}
        </div>
    </div>
 </article>
 {{/Items}}
{{^Items}}
There are no Topics on this board
{{/Items}}
{{/Topics}}