        <!-- profile info -->
        <div id="profile" class="pull-right">
          <div class="pull-right">
            <ul class="nav nav-list">
              <li>
                <a href="/messages"><span class="icon-envelope"></span> 3 Messages</a>
              </li>
              <li>
                <a href="/topics?filter=replies"><span class="icon-asterisk"></span> 14 New Replies</a>
              </li>
              <li>
                <a href="/user/edit/12345"><span class="icon-user"></span> Settings</a>
              </li>
            </ul>
          </div>

          <a href="/user/12345"><img src="http://placehold.it/64x64" alt="Jack Lawson"></a>
        </div>
      </div>
    </div>